/* TemplatWaiter */
.margin{
    margin-right: -10px;
}
.btn-desayuno, .btn-almuerzo, .btn-pedido, .btn-estado{
    font-size: 1.2em;
    font-family: 'Russo One', sans-serif;
    color:#A7D2CB;
    border: solid 1px;
}

.btn-desayuno{

    border-color: #c98474;
    background-color: #c98474;
}
.btn-almuerzo{
    border-color:#874c62;
    background-color: #874c62;
}
.btn-pedido{
    border-color: #c98474;
    background: #c98474;
    color:#A7D2CB;
   
}
.btn-estado{
    color:#A7D2CB;
    border-color:#874c62;
    background: #874c62
}
.btn-estado:focus, .btn-estado:hover{
    color: #c98474;
}
.btn-pedido:focus, .btn-pedido:hover{
    color: #874c62;
}
.btn-desayuno:focus,.btn-desayuno:hover{
    color:#874c62;
}
.btn-almuerzo:focus,.btn-almuerzo:hover{
    color:#c98474;
}
/* menu desayuno */
.desayuno{
    background: #c98474;
    margin-top: 5px;
    border-radius: 5px;
}
.desayuno .row:last-child{
    margin-bottom: 10px;
}
#btn1,#btn3{
   text-align: right;
   padding-right: 6px
}
#btn2,#btn4{
    text-align: left;
    padding-left: 6px
 }
.item{
    width:  100%;
    height:90%;
    background: #f2d388;
    margin-top:10px;
}
.coffee{
    width: 25%;
}
.sandwich, .juice, .coffee-cup{
    width: 30%;
}
.item p{
    color:#6c3d4e;
    font-family: 'Russo One', sans-serif;
    font-size: .7em;
}
/* meny almuerzo */
.almuerzo{
    background: #874c62;
    margin-top: 5px;
    border-radius: 5px; 
}
.almuerzo .col-4{
    padding:5px;
}
.almuerzo .col-3{
    padding: 5px;
}
.hamburger, .egg, .cheese, .potatoes, .rings, .drink{
    width: 45%;
}
.drinkBig{
    width: 60%;
}
/* pedido */
.pedido{
    background: #874c62;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.pedido__input{
    border-radius: 5px;
    width: 100%;
}
.btn-order{
    font-family: 'Russo One', sans-serif;
    background: #f2d388;
    color:#874c62;
}
.btn-order:focus, .btn-order:hover{
    color:#c98474;
}
table{
    font-size: 13px;
    font-family: 'Russo One', sans-serif;
    width: 100%;
    color:whitesmoke;
}
.tableOrder{
    margin-top:10px;
}
.nameItem{
    width: 60%;
}
.quantityItem{
    width:15%;
}
.priceTotalItem{
   width:20%; 
}
.deleteItem{
    width:5%; 
}
.total{
    width: 85%;
}
.totalPriceOrder{
    width: 15%;
}
.delete{
    width: 100%;
}
/* estado de pedidos */
